* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --white: #ffffff;
  --h1: #545454 --a;
}

.header {
  max-width: 80rem;
  background-color: var(--white);
  /* margin: 0 auto; */
}

.container {
  padding: 0px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

/*        */

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  /* transition: all 1s ease 0s; */
  overflow-x: hidden;
  overflow-y: auto;
}

.popup.open {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: 0.7s;
}

.response-menu {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  background-color: #9c27b0;
  position: absolute;
  width: 20rem;
  height: 15rem;
  top: 95px;
  transition: 1s;
  transition: all ease 1s;
  transform: translate(410%, 20%);
  z-index: 5;
  line-height: 2;
}

.active-burger {
  transform: translate(0%, 16%);
  transition: all ease 0.7s;
}

.response-menu li {
  list-style-type: none;
}

.response-menu ul li a {
  margin-left: 41px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 47px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #fafafa;
  text-decoration: none;
}

.response-menu ul li a:hover {
  color: gold;
  margin-top: 15px;
  border-bottom: 3px solid #f1cdb3;
  cursor: pointer;
}

h1 a{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--h1) #545454;
  cursor: pointer;
  transition: 1s;
}


h1:hover {
  color: gold;
  transition: 1s;
}

.logo p {
  color: #292929;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 9px;
}

.nav {
  display: flex;
  width: 443px;
}

.nav li {
  list-style-type: none;
}

.nav li:not(:first-child) {
  margin-left: 35px;
}

.nav_item a {
  color: var(--h1) #545454;
  text-decoration: none;
  font-family: "Arial";
  font-size: 15px;
  padding-bottom: 5px;
}

.nav :nth-child(2) {
  border-bottom: 3px solid #f1cdb3;

}

.nav_item a:hover {
  color: #f1cdb3;
  margin-top: 15px;
  cursor: pointer;
}


/* ----- friends----- */


.friends .container{
    padding: 0px 20px;
}

.friends {
  background-color: #f6f6f6;
}

.friends_title {
  padding: 83px 0 0 0;
  text-align: center;
}

h3 {
  line-height: 42px;
  font-size: 35px;
  color: var(--h1) #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.7px;
}

.wrapper {
    padding-top: 30px;
    position: relative;
  }
  .slider-wrapper {
      flex-wrap: wrap;
    padding: 30px 0 0px 0;
    display: flex;
  }
  
  .slide {
      padding: 0 20px;
    /* margin: 0 15px; */
    padding-bottom: 63px;
    max-width: 100%;
    height: 100%;
    transition: all 1s;
    display: none;
  }
  
  .slide:hover{
    cursor: pointer;
    transition: all 0.5s;
    
    transform: scaleX(0.9);
    box-shadow: 0 0 30px black;
  }


  .slide.active {
    display: block;
    margin: 0 auto;
  }
  
  
  
.slide_img{
    background-repeat: repeat;
    width: 270px;
    height: 270px;
  }
  
  .title_animals {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    color: #545454;
    text-align: center;
    padding: 30px 0px;
  }
  
  .button_animals {
    margin-left: 41px;
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    color: #292929;
    font-size: 17px;
    font-family: Georgia;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 1s;
  }
  
  .button_animals:hover {
    transform: scale(1.1);
    transition: 1s;
    color: black;
    background-color: #f1cdb3;
  }


.friends_buttons{
    display: flex;
    justify-content: center;
    padding: 28px 0 101px 0;
}

.prev,
.prev_prev,
.next,
.next_next,
.center{
width: 52px;
height: 52px;
border-radius: 50%;
cursor: pointer;
}

.prev,
.next,
.next_next,
.center{
    margin: 0px 0 0 20px;
}


.prev,
.prev_prev{  
    border: 1px solid #CDCDCD;
}


.next,
.next_next{
    border: 1px solid #F1CDB3;
}

.center{
  position: relative;
    background-color:#F1CDB3;
    
}
 
.icon_prev,
.icon_next{
    color: #CDCDCD;
  margin: 0 auto;
  width: 14px;
  height: 9px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/left.svg);
} 

.icon_next{
  background-image: url(../../assets/icons/Arrow.svg);
}

.icon_prev_prev,
.icon_next_next{
    color: #CDCDCD;
    margin: 0 auto;
      width: 27px;
      height: 13px;
      background-repeat: no-repeat;
      background-image: url(../../assets/icons/__.svg);
}

.icon_next_next{
    background-image: url(../../assets/icons/__\ \(1\).svg);
}


.one{
    top: 41%;
    left: 45%;
    width: 8px;
    height: 11px;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../../assets/icons/1.svg);
}



  /* -- footer */

  .footer_container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    flex-wrap: wrap;
  }
  .footer {
    background-color: #211f20;
  }
  
  .icon_email,
  .icon_phone,
  .icon_map {
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
  }
  
  .icon_email {
    transition: all 1s;
    background-image: url(../../assets/icons/mail.svg);
  }
  .icon_phone {
    transition: all 1s;
    background-image: url(../../assets/icons/phone.svg);
  }
  .icon_map {
    transition: all 1s;
    background-image: url(../../assets/icons/pin.svg);
  }
  
  .email_container,
  .phone_container,
  .boston_container,
  .africa_container {
    display: flex;
    justify-content: space-between;
  }
  
  .email_container h4,
  .phone_container h4,
  .boston_container h4,
  .africa_container h4 {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    padding-top: 0;
    letter-spacing: 1.5px;
    color: #f1cdb3;
    cursor: pointer;
    transition: all 1s;
  }
  
  .email_container h4:hover,
  .phone_container h4:hover,
  .boston_container h4:hover,
  .africa_container h4:hover {
    color: gold;
    transition: all 0.5s;
    transform: scale(1.1);
  }
  
  .footer_questions,
  .footer_waiting {
    width: 20rem;
  }
  
  .footer_waiting {
    margin-left: -20px;
  }
  
  .footer_questions h3,
  .footer_waiting h3 {
    color: #ffff;
    width: 18rem;
    transition: all 1s;
  }

  h3:hover{
    cursor: pointer;
    transition: all 0.5s;
    color: gold;
  }
  
  .email_container {
    width: 16rem;
    padding: 47px 0;
  }
  
  .phone_container {
    margin-top: -5px;
    width: 15rem;
  }
  
  .boston_container {
    width: 19rem;
    padding-top: 37px;
    margin-left: -6px;
  }
  
  .africa_container {
    padding-top: 36px;
    width: 17.5rem;
    margin-left: -5px;
  }
  
  .footer_img {
    margin-top: -18px;
    margin-bottom: -3px;
  }
  
  .icon_email:hover,
  .icon_phone:hover,
  .icon_map:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: rgb(76, 0, 255);
    cursor: pointer;
  }
  
  @media screen and (max-width: 1100px) {
    .footer_img {
      margin: 60px 0px -5px 258px;
    }
  }
  
  @media screen and (max-width: 860px) {

header .container{
  padding: 0 30px;
}

.wrapper{
  padding: 0px 54px 0 54px;
}


.friends_buttons {
  padding: 7px 0 76px 0;
}

.footer.container{
  padding: 0 30px;
}

    .footer_img {
      margin: 60px 0px -5px 168px;
    }
  
    .footer_container {
      padding: 33px 5px 0px 24px;
    }
  
    .africa_container {
      margin-left: 0;
    }
  
    .boston_container {
      margin-left: 0;
      padding-top: 42px;
    }
  }
  
  @media screen and (max-width: 760px) {
  
    .footer_img {
      margin: 0 auto;
    }
  
  }

  @media screen and (max-width: 767px) {

  .iconMenu {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 42px;
    top: 0px;
  }
  .iconMenu span,
  .iconMenu::before,
  .iconMenu::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .iconMenu::before,
  .iconMenu::after {
    content: "";
  }
  .iconMenu::before {
    top: 0;
  }

  .iconMenu::after {
    bottom: -2px;
  }

  .iconMenu span {
    top: 50%;
    transform: translate(0px -50%);
  }

  .iconMenu.active1 span {
    transform: scale(0) translate(0px, -50%);
  }

  .iconMenu.active1::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .iconMenu.active1::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .nav {
    display: none;
  }
}

  
  @media screen and (max-width: 460px) {
    header .container {
      padding: 0px 10px;
    }
    .friends .container {
      padding: 0px 0px;
    }

    h3{
      line-height: 33px;
      font-size: 25px;
    }

    .friends_title {
      padding: 40px 0 0 0;
    }

    .wrapper {
      padding: 12px 0px 0 0px;
    }


    .friends_buttons {
      padding: 6px 0 42px 0;
    }

    .prev, .next, .next_next, .center {
      margin: 0px 0 0 10px;
    }

/* ------- */

footer .container{
  padding: 0 10px;
}

    .footer_img img {
      width: 16.5rem;
    }
  
  .africa_container{
    padding-top: 43px;
  }
  
    .footer_img {
      margin: 38px 0px -5px 14px;
    }
  
    .footer_questions h3 {
      text-align: center;
      /* padding-top: 40px; */
      line-height: 35px;
    }
  
    .footer_container {
      padding: 29px 5px 0px 2px;
    }
  
    .email_container {
      margin-left: 21px;
      padding: 40px 0;
    }
  
  .phone_container {
    margin: 0 0 0 28px;
  }
  
    .footer_waiting {
      text-align: center;
      margin: 38px 0 0 0 ;
    }
  }
  



/*--------------- popup--------------- */

.popup_cards {
  position: fixed;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease 0s;
  overflow-x: hidden;
  overflow-y: auto;
}

.popup_cards.open_cards {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.popup_cards.open_cards .popup_content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 15%) rotate(0deg);
}

.popup_body {
  min-height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 25px 10px;
}
.popup_content {
  position: absolute;
  z-index: 2;
  width: 900px;
  height: 500px;
  background-color: #fafafa;
  font-family: cursive;
  border-radius: 9px;
  color: black;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: all 1.2s ease 0s;
  /* transform:translate(0px, -100%); */
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

a {
  text-decoration: none;
}
.popup_close {
  color: #292929;
  width: 13px;
  height: 13px;
  margin: 10px 0 0 18px;
  transition-duration: 1s;
}

.popup_close {
  cursor: pointer;
  transform: scale(1.2);
}

.popup_close:hover {
  transition: all 1s ease 0s;
  transform: scale(1.3);
  color: gold;
  padding-bottom: -5px;
}

.close_arrow {
  position: absolute;
  right: -4.5%;
  top: -10%;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
}

  /* -- */

  
.animals_content {
  display: flex;
  justify-content: center;
}

.content_description h5 {
  max-width: 350px;
}

.content_img {
  width: 500px;
  height: 500px;
}

.content_img img {
  border-radius: 20px;
  margin: 0 0 0 -44px;
  width: 100%;
}

.content_description h3 {
  margin: 55px 0px 0 0px;
  text-align: left;
  color: #000000;
}

.content_description h4 {
  margin: 9px 0px 0 0px;
  text-align: left;
  color: #000000;
  padding-top: 0;
  letter-spacing: 1.7px;
}

.content_description h5 {
  margin: 42px 0px 33px 0;
  text-align: left;
  color: #000000;
  padding-top: 0;
}

h6 {
  letter-spacing: 1px;
  display: inline-block;
  font-size: 15px;
  font-weight: 700 bold;
}

.content_age,
.content_inoculations,
.content_diseases,
.content_parasites {
  text-align: left;
  margin: 5px 0 0 20px;
}

@media screen and (max-width: 960px) {
  .popup_content {
    width: 630px;
    height: 100%;
    padding: 10px 0;
  }

  .content_img {
    width: 350px;
    height: 350px;
  }

  .content_img img {
    border-radius: 20px;
    width: 118%;
    margin: 8px 0 0 0;
  }

  .content_description h5 {
    font-size: 13px;
  }

  .content_description h3,
  .content_description h4,
  .content_description h5 {
    margin: 14px 0px 0 73px;
    text-align: left;
  }

  .content_age,
  .content_inoculations,
  .content_diseases,
  .content_parasites {
    font-size: 15px;
    text-align: left;
    margin: 5px 0 0 90px;
  }

  .close_arrow {
    right: -6.5%;
    top: -15%;
  }

  .popup_close{
    margin: 10px 0 0 18px;
  }
}

@media screen and (max-width: 760px) {

  .popup_content {
    width: 530px;
    height: 100%;
  }

}

@media screen and (max-width: 600px) {

  .content_img {
    display: none;
  }
  .popup_content {
    width: 240px;
    min-height: 375px;
  }
  .content_description h3,
  .content_description h4,
  .content_description h5 {
    margin: 11px 0px 15px 0px;
    text-align: center;
  }

  .content_age,
  .content_inoculations,
  .content_diseases,
  .content_parasites {
    text-align: left;
    margin: 3px 0 0 25px;
  }

  .close_arrow {
    right: -13.5%;
  }
}