.friends {
  background-color: #f6f6f6;
}

.title_friends {
  width: 25rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 87px;
}

.container_animals {
  display: flex;
  justify-content: space-evenly;
  padding-top: 66px;
}

.slide_img {
  background-repeat: repeat;
  width: 270px;
  height: 270px;
}

.title_animals {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  color: #545454;
  text-align: center;
  padding: 30px 0px;
}

.button_animals {
  margin-left: 41px;
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  color: #292929;
  font-size: 17px;
  font-family: Georgia;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 1s;
}

.button_animals:hover {
  /* transform: scale(1.1); */
  transition: 1s;
  color: black;
  background-color: #fddcc4;
}

.button_get {
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: #f1cdb3;
  font-size: 17px;
  font-family: Georgia;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 1s;
}

.button_get a {
  color: #292929;
}

.button_get:hover {
  background-color: #fddcc4;
  transform: scale(1.05);
  box-shadow: 0 0 20px black;
}

.container-button_get {
  display: flex;
  justify-content: center;
  padding-bottom: 98px;
}

.left {
  background-image: url(../../assets/icons/left.svg);
  top: 20px;
  left: 15px;
}

.rigth {
  background-image: url(../../assets/icons/Arrow.svg);
  top: 20px;
  right: 15px;
}

.left,
.rigth {
  position: absolute;
  color: #292929;
  width: 14px;
  height: 6px;
}

.button_arrow {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
}

.arrow_left {
  position: absolute;
  top: 46%;
  right: auto;
  left: 0%;
  transition: all 1s;
}

.arrow_rigth {
  position: absolute;
  top: 46%;
  left: auto;
  right: 0%;
  transition: all 1s;
}

.arrow_rigth:hover,
.arrow_left:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: #fddcc4;
  cursor: pointer;
  border: 2px solid black;
}

/* slider */

.wrapper {
  padding-top: 30px;
  position: relative;
}
.slider-wrapper {
  padding: 30px 0 70px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slide {
  margin: 0 43px;
  padding-bottom: 20px;
  max-width: 100%;
  height: 100%;
  display: none;
  transition: all 1s;
}

.slide:hover {
  cursor: pointer;
  transition: all 0.5s;
  /* transform: rotate(2deg); */
  transform: scaleX(0.9);
  box-shadow: 0 0 30px black;
}

.slide.active {
  display: block;
}

@media screen and (max-width: 860px) {
  .title_friends {
    width: 100%;
    padding-top: 80px;
  }

  .slide {
    margin: 0 20px;
  }

  .slider-wrapper {
    padding: 38px 0 70px 0;
  }
}

@media screen and (max-width: 460px) {
  .title_friends {
    padding-top: 43px;
    padding-bottom: 8px;
  }

  .slider-wrapper {
    padding: 4px 0 70px 0;
  }

  .wrapper {
    padding-bottom: 147px;
  }

  .arrow_left {
    left: 20%;
    top: 72%;
  }

  .arrow_rigth {
    right: 20%;
    top: 72%;
  }

  .friends {
    position: relative;
  }

  .container-button_get {
    padding: 0;
    position: absolute;
    top: 88%;
    left: 9%;
  }
}
/*--------------- popup--------------- */

.popup_cards {
  position: fixed;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease 0s;
  overflow-x: hidden;
  overflow-y: auto;
}

.popup_cards.open_cards {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.popup_cards.open_cards .popup_content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 15%) rotate(0deg);
}

.popup_body {
  min-height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 25px 10px;
}
.popup_content {
  position: absolute;
  z-index: 2;
  width: 900px;
  height: 500px;
  background-color: #fafafa;
  font-family: cursive;
  border-radius: 9px;
  color: black;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: all 1.2s ease 0s;
  /* transform:translate(0px, -100%); */
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

a {
  text-decoration: none;
}
.popup_close {
  color: #292929;
  width: 13px;
  height: 13px;
  margin: 10px 0 0 18px;
  transition-duration: 1s;
}

.popup_close {
  cursor: pointer;
  transform: scale(1.2);
}

.popup_close:hover {
  transition: all 1s ease 0s;
  transform: scale(1.3);
  color: gold;
  padding-bottom: -5px;
}

.close_arrow {
  position: absolute;
  right: -4.5%;
  top: -10%;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
}

/* ------------------------ popup descriptions------------------------*/

.animals_content {
  display: flex;
  justify-content: center;
}

.content_description h5 {
  max-width: 350px;
}

.content_img {
  width: 500px;
  height: 500px;
}

.content_img img {
  border-radius: 20px;
  margin: 0 0 0 -44px;
  width: 100%;
}

.content_description h3 {
  margin: 55px 0px 0 0px;
  text-align: left;
  color: #000000;
}

.content_description h4 {
  margin: 9px 0px 0 0px;
  text-align: left;
  color: #000000;
  padding-top: 0;
  letter-spacing: 1.7px;
}

.content_description h5 {
  margin: 42px 0px 33px 0;
  text-align: left;
  color: #000000;
  padding-top: 0;
}

h6 {
  letter-spacing: 1px;
  display: inline-block;
  font-size: 15px;
  font-weight: 700 bold;
}

.content_age,
.content_inoculations,
.content_diseases,
.content_parasites {
  text-align: left;
  margin: 5px 0 0 20px;
}

@media screen and (max-width: 960px) {
  .popup_content {
    width: 630px;
    height: 100%;
  }

  .content_img {
    width: 350px;
    height: 350px;
  }

  .content_img img {
    width: 120%;
    margin: 8px 0 0 0;
  }

  .content_description h5 {
    font-size: 13px;
  }

  .content_description h3,
  .content_description h4,
  .content_description h5 {
    margin: 14px 0px 0 73px;
    text-align: left;
  }

  .content_age,
  .content_inoculations,
  .content_diseases,
  .content_parasites {
    font-size: 15px;
    text-align: left;
    margin: 5px 0 0 90px;
  }

  .close_arrow {
    right: -6.5%;
    top: -15%;
  }

  .popup_close{
    margin: 7px 0 0 15px;
  }
}


@media screen and (max-width: 760px) {

  .popup_content {
    width: 530px;
    height: 100%;
    padding: 10px 0;
  }

}

@media screen and (max-width: 600px) {

  .content_img {
    display: none;
  }
  .popup_content {
    width: 240px;
    height: 100%;
  }
  .content_description h3,
  .content_description h4,
  .content_description h5 {
    margin: 11px 0px 15px 0px;
    text-align: center;
  }


  .content_age,
  .content_inoculations,
  .content_diseases,
  .content_parasites {
    text-align: left;
    margin: 3px 0 0 25px;
  }

  .close_arrow {
    right: -13.5%;
  }
}
