@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-transform: capitalize;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

*::-moz-selection {
  background-color: var(--white);
  color: var(--black);
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5rem;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 0.8rem;
  }
  html .home .row .content h3 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.75rem;
  }
  html #menu_btn {
    display: inline-block;
  }
  html .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #aaa;
    border-bottom: 0.1rem solid #aaa;
    background: #4b4b4b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  html .navbar a {
    display: block;
    margin: 2rem;
  }
  html .header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  html .home .row .content h3 {
    font-size: 4rem;
  }
  html .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 540px) {
  html .teachers .slide img {
    height: 35rem;
  }
}

html body {
  background: #3d3d3d;
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header section {
  padding: 1.5rem;
}

.btn {
  border: none;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #4b4b4b;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #fff;
  color: #00fd0a;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: #4b4b4b;
}

.header .flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: #00fd0a;
}

.header .flex .navbar a {
  margin-left: 2rem;
  color: #aaa;
  font-size: 1.4rem;
}

.header .flex .navbar a:hover {
  color: #00fd0a;
}

#menu_btn {
  cursor: pointer;
  font-size: 2.5rem;
  color: #00fd0a;
  display: none;
}

.home {
  margin-top: 6rem;
}

.home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 1.5rem;
}

.home .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
  text-align: center;
}

.home .row .images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39rem;
          flex: 1 1 39rem;
}

.home .row .images img {
  width: 100%;
}

.home .row .content h3 {
  margin-bottom: 1rem;
  font-size: 6rem;
  color: #fff;
  line-height: 1;
}

.home .row .content h3 span {
  color: #00fd0a;
}

.count .box_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.count .box_container .box {
  background: #4b4b4b;
  border-radius: 0.5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.3rem;
}

.count .box_container .box i {
  font-size: 3.5rem;
  color: #00fd0a;
}

.count .box_container .box p {
  font-size: 1.5rem;
  color: #aaa;
}

.count .box_container .box h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .row .images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 38rem;
          flex: 1 1 38rem;
}

.about .row .images img {
  width: 100%;
}

.about .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 36rem;
          flex: 1 1 36rem;
  text-align: center;
}

.about .row .content h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

.heading {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

.heading span {
  color: #00fd0a;
}

.courses .slide {
  width: 30rem;
  background: #4b4b4b;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.1rem solid #00fd0a;
}

.courses .slide img {
  height: 15rem;
  width: 100%;
}

.courses .slide h3 {
  margin: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
}

.courses .slide p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: #aaa;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #00fd0a;
  width: 1rem;
  height: 1rem;
  opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: red;
  width: 1rem;
  height: 1rem;
}

.teachers .slide {
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
  border: 0.1rem solid #00fd0a;
  border-radius: 0.5rem;
}

.teachers .slide img {
  height: 27rem;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 0.5rem;
}

.teachers .slide h3 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.teachers .slide .share {
  position: absolute;
  top: 1rem;
  left: -10rem;
}

.teachers .slide .share a {
  display: block;
  margin-top: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #3d3d3d;
  text-align: center;
  font-size: 2rem;
}

.teachers .slide .share a:hover {
  background-color: #00fd0a;
  color: #fff;
}

.teachers .slide:hover .share {
  left: 2rem;
}

.reviews-slider .slide {
  border-radius: 0.5rem;
  background-color: #4b4b4b;
  padding: 2rem;
  margin-bottom: 2.5rem;
  border: 0.1rem solid #00fd0a;
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.reviews-slider .slide p {
  color: #aaa;
  font-size: 1rem;
  line-height: 1.5;
}

.reviews-slider .slide h3 {
  color: #fff;
  font-size: 1.5rem;
}

.reviews-slider .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.reviews-slider .slide .user .stars i {
  font-size: 1rem;
  color: #00fd0a;
}

.contact .heading {
  margin-bottom: 0rem;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32rem;
          flex: 1 1 32rem;
}

.contact .images img {
  width: 100%;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.contact form span {
  font-size: 1.2rem;
  color: #aaa;
}

.contact form .box {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background: #4b4b4b;
  font-size: 1.5rem;
  color: #fff;
}

.contact form .radio {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact form .radio #female:checked ~ label[for="female"] {
  color: #00fd0a;
}

.contact form .radio #male:checked ~ label[for="male"] {
  color: #00fd0a;
}

.contact form .radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background: #aaa;
  cursor: pointer;
}

.contact form .radio input:checked {
  background: #00fd0a;
}

.contact form .radio #female {
  margin-left: 1rem;
}

.contact form .radio label {
  font-size: 1.5rem;
  color: #aaa;
  margin-left: 0.6rem;
  cursor: pointer;
}

footer {
  background: #4b4b4b;
  text-align: center;
}

footer .share a {
  margin: 0 0.3rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  background: #3d3d3d;
}

footer .share a:hover {
  background: #00fd0a;
}

footer .credit {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #aaa;
}
/*# sourceMappingURL=style.css.map */