h3 {
    line-height: 42px;
    font-size: 35px;
    color: #545454;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.7px;
    transition: all 1s;
  }
  
  h3:hover {
    cursor: pointer;
    transition: all 0.5s;
    color: gold;
  }
  
  .about {
    padding-bottom: 86px;
  }
  
  .about1 {
    /* padding: 45px 0 0 0; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  
  .about_img {
    width: 27rem;
    padding: 78px 0 0 0;
  }
  
  .abou_text {
    margin: 0 0 0 -10px;
    max-width: 26.9rem;
    padding: 98px 0px 0 0px;
  }
  
  .abou_text h3 {
    padding-bottom: 26px;
    max-width: 19rem;
    letter-spacing: 2px;
  }
  
  .abou_text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #4c4c4c;
    font-weight: 400;
    padding-bottom: 26px;
    line-height: 24px;
  }
  
  @media screen and (max-width: 860px) {
    .abou_text p {
      font-size: 15px;
    }
  
    .abou_text {
      margin: 0 0 0 0px;
      padding: 84px 0px 0 0px;
    }
  
    .about_img {
      padding: 54px 0 7px 66px;
    }
  }
  
  @media screen and (max-width: 460px) {
    h3 {
      line-height: 33px;
    }
  
    .abou_text h3 {
      padding-bottom: 20px;
    }
    .about {
      padding-bottom: 35px;
    }
  
    h3 {
      font-size: 25px;
      text-align: center;
    }
  
    .abou_text {
      padding: 42px 13px 0 15px;
    }
  
    .about_img img {
      width: 16rem;
    }
  
    .about_img {
      padding: 19px 0 0 21px;
    }
  }
  