.footer_container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  flex-wrap: wrap;
}
.footer {
  background: url(../assets/icons/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

h3:hover{
color: gold;
}

.icon_email,
.icon_phone,
.icon_map {
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
}

.icon_email {
  transition: all 1s;
  background-image: url(../../assets/icons/mail.svg);
}
.icon_phone {
  transition: all 1s;
  background-image: url(../../assets/icons/phone.svg);
}
.icon_map {
  transition: all 1s;
  background-image: url(../../assets/icons/pin.svg);
}

.email_container,
.phone_container,
.boston_container,
.africa_container {
  display: flex;
  justify-content: space-between;
}


.boston_container h4,
.africa_container h4 {
  padding-top: 0;
  letter-spacing: 1.5px;
  color: #f1cdb3;
  cursor: pointer;
  transition: all 1s;
}

.email_container a,
.phone_container a{
  padding-top: 0;
  letter-spacing: 1.5px;
  color: #f1cdb3;
  cursor: pointer;
  transition: all 1s;
  font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
}


.email_container a:hover,
.phone_container a:hover,
.boston_container h4:hover,
.africa_container h4:hover {
  color: gold;
  transition: all 0.5s;
  transform: scale(1.1);
}

.footer_questions,
.footer_waiting {
  width: 20rem;
}

.footer_waiting {
  margin-left: -20px;
}

.footer_questions h3,
.footer_waiting h3 {
  color: #ffff;
  width: 18rem;
}
h3:hover{
  color: gold;
  }
.email_container {
  width: 16rem;
  padding: 47px 0;
}

.phone_container {
  margin-top: -5px;
  width: 15rem;
}

.boston_container {
  width: 19rem;
  padding-top: 37px;
  margin-left: -6px;
}

.africa_container {
  padding-top: 36px;
  width: 17.5rem;
  margin-left: -5px;
}

.footer_img {
  margin-top: -18px;
  margin-bottom: -3px;
}

.icon_email:hover,
.icon_phone:hover,
.icon_map:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  color: rgb(76, 0, 255);
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .footer_img {
    margin: 60px 0px -5px 258px;
  }
}

@media screen and (max-width: 860px) {
  .footer_img {
    margin: 60px 0px -5px 168px;
  }

  .footer_container {
    padding: 34px 16px 0px 36px;
  }

  .africa_container {
    margin-left: 0;
  }

  .boston_container {
    margin-left: 0;
    padding-top: 42px;
  }
}

@media screen and (max-width: 760px) {

  .footer_img {
    margin: 0 auto;
  }

}

@media screen and (max-width: 460px) {
  .footer_img img {
    width: 16.5rem;
  }

.africa_container{
  padding-top: 43px;
}

  .footer_img {
    margin: 38px 0px -5px 14px;
  }

  .footer_questions h3 {
    /* padding-top: 40px; */
    line-height: 35px;
  }

  .footer_container {
    padding: 29px 5px 0px 2px;
  }

  .email_container {
    margin-left: 21px;
    padding: 40px 0;
  }

.phone_container {
  margin: 0 0 0 28px;
}

  .footer_waiting {
    margin: 38px 0 0 0 ;
  }
}
